* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

// Variables //
// --------- //

// Primary Colours
$dark-violet: hsl(256, 26%, 20%);
$grey-blue: hsl(216, 30%, 68%);

// Neutral Colours
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grey-violet: hsl(273, 4%, 51%);
$very-light-grey: hsl(0, 0%, 98%);


// Typography //
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

h1 {
    font-size: 7.2rem;
    line-height: 0.9;
}

h2 {
    font-size: 5.6rem;
    line-height: 1;
}

h3 {
    font-size: 2.7rem;
    line-height: 1;
}

p,
a {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    font-weight: 400;
}

a {
    text-decoration: none;
}

// Buttons //

button {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 4rem;
    width: 15rem;
}

.button_primary {
    color: $dark-violet;
    border: 2px solid $dark-violet;
    background-color: rgba($color: $dark-violet, $alpha: 0);
}

.button_secondary {
    color: $very-light-grey;
    border: 2px solid $very-light-grey;
    background-color: rgba($color: $very-light-grey, $alpha: 0);
}

// Utility Classes // 

.container {
    width: 80vw;
    margin: 0 auto;
}

// Navigation //
header {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav_item {
    text-transform: uppercase;
    color: $dark-grey-violet;
    font-weight: 700;
}

// Banner // 

.banner {
    width: 100%;
    height: 60rem;
    background-color: $dark-violet;
    display: flex;
    align-items: center;
    color: $very-light-grey;


    .container {
        height: 100%;
        display: flex;
        gap: 3rem;
    }

    img {
        position: relative;
        top: 10%;
    }
}

.banner_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin-bottom: 2rem;
    }

    h1::before {
        content: '';
        display: block;
        height: 1px;
        width: 15rem;
        position: absolute;
        // left: 0;
        top: 20%;
        background-color: $very-light-grey;

    }
}